body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#main-body {
    margin-top: 30px;
    min-height: 70vh;
}

.search-col {
    text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* For the search bar */
#description {
    font-size: 15px;
    font-weight: 300;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    width: 480px;
}

#search {
    margin-top: 10px;
}

#pac-input:focus { border-color: #4d90fe; }

#official-container {
    margin-top: 10px;
}

.official-scroll {
    width: 100%;
    height:410px;
    overflow:scroll;
    overflow-x:hidden;
}

.thumbnail {
    transform: translateX(20px);
    margin-bottom: 10px;
    text-decoration: none !important;
    width: 98%;
}

#official-container img{
    transform: translateX(-15px);
    max-width: 150px;
    max-height: 200px;
}

#election-container {
    margin-top: 20px;
}

#election-container .cell {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    background-color: #eee;
}

#election-container .cell:nth-child(2n) {
    background-color: #e4e4e4;
}

#election-container .cell:hover {
    background-color: #5bc0de;
}

#link-container {
    margin-top: 10px;
}

/*padding for LearnMore Page*/
.panel-heading {
    padding-top: 50px;
} 

/*Politician Fudge View Classes*/
.fudge img {
    padding-left: 135px;
}
.fudge h2 {
    text-align: center;
}

.fudgeInfo {
    padding-top: 70px;
}

