@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<p>
    Studies have shown that more registered voters show up for the primary elections when there is a presidential election.
    Some voters are less knowledgeable of other candidate for local and mid-term elctions, and they may not know who else is on
    the ballot until they actually vote. With all the propaganda and opions the facts can be lost. Know Your Vote Ohio
    helps edjucate Ohio voters. You can learn about the three branches of the goverment, current politicians up for
    election and in office, who's on your ballot, poll locations, and voter regitration. Know Your Vote simplifys all this information in one location.
    We believe that if you know more you will vote more.
</p>