@{
    ViewBag.Title = "About Know Your Vote";
}
<h2>@ViewBag.Title</h2>
<p class="aboutUs">
  
</p>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Know Your Vote</h3>
    </div>
    <div class="panel-body">
        <blockquote>
            Studies have shown that more registered voters show up for the primary elections, when there is a presidential election.
            Some voters are less knowledgeable of other candidate for local and mid-term elections, and they may not know who else is on the ballot until they actually vote.
            With all the propaganda and opinions the facts can be lost. Know Your Vote Ohio helps educate Ohio voters. You can learn about the three branches of the government,
            current politicians in office, who's on your ballot, poll locations, and voter registration. Know Your Vote simplifies all this information in one location.
            We believe that if you know more you will vote more.
        </blockquote>
    </div>
</div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Bibliography</h3>
        </div>
        <div class="panel-body">
            <blockquote>
                <div>
                    <a href="http://classroom.synonym.com/us-cabinet-do-2469.html">Classroom</a>
                </div>
                <div>
                    <a href="https://www.scholastic.com/teachers/articles/teaching-content/united-states-government/">Scholastic</a>
                </div>
                <div>
                    <a href="http://judiciallearningcenter.org/the-federal-courts-2/">Judicial Learning Center</a>
                </div>
                <div>
                    <a href="https://www.factmonster.com/us/supreme-court">Fact Monster</a>
                </div>
                <div>
                    <a href="bitmoji.com">Bitmoji</a>
                </div>
            </blockquote>
            </div>
        </div>

  