@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<p>
    Know Your Vote Ohio is created by four Junior Developers in Cleveland, Ohio. While living in a swing state during the presidential elections,
    they all witnessed the importance of every national and local vote. They all connected through We Can Code IT coding bootcamp,
    and collaberation on Know Your Vote as a project. While learning software development they all provide a service that provide knowledge to voters in Ohio.
</p>
<p>
    This application include the following language: <br />
    MVC | C# | ASP.NET | JavaScript | HTML | JQuery
</p>
<p>Learn more about the developers:</p>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>