@{
    ViewBag.Title = "Home Page";
}

@* 
--User Clicks on Search By Address --> list of current representatives comes in from right side
--On the left side, below the logo, the voter's dates, pole location, and registration link
   populate 
--LogIn and sign up button stay on main page  *@
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<input id="pac-input" class="controls" type="text" placeholder="Enter Your Address Here">
<button id="search">See Results</button>
<div id="official-container"></div>
<div id="election-container"></div>
<div id="polling-container"></div>

@* You'll need these scripts on the bottom to run the search bar*@
<script src="~/Scripts/search.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOkccOGtXnDcCfl26Z7B64y8qHRubmhwQ&libraries=places&callback=initAutocomplete"
        async defer></script>