@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-danger">
    <div class="panel-heading">
        <h2 class="panel-title">Executive Branch</h2>

    </div>
    <div class="panel-body">
        <h4>The President</h4>
        <blockquote>
            The president is elected every four years and may serve a maximum of two terms.
            There are seven core functions the president must perform.
            <ul>
                <li> Chief of State</li>
                <li> Chief Executive</li>
                <li>Chief Diplomat</li>
                <li>Commander-In-Chief</li>
                <li>Legislative Leader</li>
                <li>Chief of Party</li>
                <li>Guardian of the Economy</li>
            </ul>
        </blockquote>
        <h4>The Vice President</h4>
        <blockquote>
            vice president is the second highest office in the land and serves as a ceremonial
            assistant to the President. They also preside over the senate and cast the deciding votes
            in instances of a tie.  The Vice President may serve unlimited four year terms under multiple
            presidents.
        </blockquote>
        <h4>Cabinet</h4>
        <blockquote>
            The cabinet is made up of 15 members selected by the President and includes the Vice President
            and Attorney General. These members are confirmed by the corresponding Senate committee and do
            not have a fixed length of term.  They are in charge of advising the President on the issues
            they are charged with as well as creating international policies and managing their
            implementation. The fifteen cabinet positions are the Secretaries of Agriculture, Commerce,
            Defense, Education, Energy, Health and Human Services, Homeland Security, Housing and
            Urban Development, Interior, Labor, State, Transportation, Treasury, and Veterans Affairs.
        </blockquote>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Legislative Branch</h2>

    </div>
    <div class="panel-body">
        <h3>Congress</h3>
        <blockquote>
            Congress of the United States is the legislative, or lawmaking, branch of the
            federal government. It is a bicameral legislature, which means that it is made up of two chambers, or houses. They are the House of Representatives and the Senate.
            The U.S. Constitution gives the two houses similar powers. The most important of these is that
            no law can be adopted unless it is first passed in identical form by a majority
            (more than half) of the members of each house. A legislature made up of two chambers
            supports the system of checks and balances that is built into the American form of
            government. Either house is able to block legislation approved by the other.
            Therefore, the two houses must often cooperate with each other and compromise
            on their differences in writing the nation's laws.
        </blockquote>
        <h4>Senate</h4>
        <blockquote>
            The senate is comprised of 100 members, with two individuals representing each of
            the 50 states. Each senator is elected to a six year term, and can serve an unlimited
            amount of terms.   The Senate has special responsibility for the ratification, or
            approval, of treaties with foreign countries. The Constitution requires that
            "two thirds of the Senators present concur" (agree) for a treaty to be ratified.
            This gives the Senate more influence than the House in foreign policy matters.
            In addition, candidates nominated by the president for such positions as cabinet
            members, ambassadors, and federal judges require approval by the Senate.The vice
            president of the United States presides over the Senate.
        </blockquote>
        <h4>House of Representatives</h4>
        <blockquote>
            House of Representatives The House of Representatives has 435 members, or one elected from
            each congressional district, which is approximately It is thus more than four times the
            size of the Senate, which has 100 members, or two elected from each state. The House of
            Representatives (commonly known as the House) is presided over by the Speaker of the House,
            who is nominated by the majority political party in that chamber. Members are elected to a
            two year term of service. On the other hand, the House has a special role in tax legislation.
            All bills for raising revenue must originate in the House of Representatives.Congress also
            has a number of other responsibilities and powers. It can propose amendments to the
            Constitution and declare war. The House of Representatives has the power to impeach, or
            bring charges against, federal officials for misconduct. If no candidate in a presidential
            election wins a majority in the electoral college, the president is elected by the House of
            Representatives. The Congress also determines if a president.
        </blockquote>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Judicial Branch</h3>
    </div>
    <div class="panel-body">
        @*<h5>The judicial branch oversees the court system of the U.S. Through court cases,
                the judicial branch explains the meaning of the Constitution and laws passed by Congress.
            </h5>*@
        <h4> The Supreme Court</h4>
        <blockquote>
            The highest court in the nation is the United States Supreme Court. It is made up of one
            chief justice and eight associate justices (judges). They are appointed by presidents with
            the approval of the Senate. Supreme Court justices may serve for life or until they wish to
            retire. The Supreme Court has many important powers. One is the ability to declare laws
            unconstitutional, or invalid. This is known as the power of judicial review. The Supreme
            Court can also review and overturn the decisions of lower courts. The Supreme Court acts
            to check the power of the other two branches of the federal government as well as that of
            the state's governments. Unlike a criminal court, the Supreme Court rules whether something
            is constitutional or unconstitutional—whether or not it is permitted under the Constitution.
        </blockquote>
        <h4>Federal Courts</h4>
        <blockquote>
            There are two types of Federal Courts, U.S. District Courts and Circuit Courts of Appeal.
            The United States district courts are the trial courts of the federal
            court system.  This is where federal cases are tried, where witnesses testify, and federal juries
            serve. There are 94 federal district courts in the U.S.  Each district also has a bankruptcy
            court. Circuit Courts of Appeal:  There are 13 courts of appeal in the United States.
            These courts, called circuit courts, hear appeals from the district courts located in their
            geographic circuit, and some other lower federal courts.  They review the decisions of these
            courts to determine if the law was interpreted and applied correctly.
        </blockquote>
    </div>
</div>
