@{
    ViewBag.Title = "Login";
}

<link href="~/Content/Login.css" rel="stylesheet" />

<h2>Login</h2>

<form>
    <div>
        <h4>E-Mail:</h4>
        <input type="email" id="email">
    </div>
    <div>
        <h4>Password:</h4>
        <input type="password" id="password">
    </div>
    <div class="submit-button">
        <a href="~/Home/Index">Submit</a>
    </div>
</form>