
@{
    ViewBag.Title = "MarciaFudge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">.fudgeInfo { }</style>
<div class="container">
    
    <div class="col-md-6 fudge">
        <h2>Marcia Fudge</h2>
        <img src="~/Images/MF.jpg"/>
    </div>
    <div class="col-md-6 fudgeInfo">
        <h2>Position: United States House of Representatives OH-11</h2>
        <h3>Party: Democratic</h3>
        
        <a href="https://fudge.house.gov/">Official Website</a>
        
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
    </div>
</div>

