@{
    ViewBag.Title = "MarciaFudge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Comment.css" rel="stylesheet" />

<style type="text/css"></style>
<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h1 class="panel-title">Marcia Fudge</h1>
        </div>
        <div class="panel-body">

            <div class="col-md-6 fudge">
                @*<h2>Marcia Fudge</h2>*@
                <img src="~/Images/MF.jpg" />
            </div>
            <div class="col-md-6 fudgeInfo">
                <h2>Position: United States House of Representatives OH-11</h2>
                <h3>Party: Democratic</h3>
                <div>
                    <a href="https://fudge.house.gov/"><i class="glyphicon glyphicon-globe" style="font-size: 40px"></i></a>
                    <a href="https://www.facebook.com/RepMarciaLFudge/"><i class="fa fa-facebook-square" style="font-size:50px"></i></a>
                    <a href="https://twitter.com/RepMarciaFudge?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter-square" style="font-size:50px"></i></a>
                    <a href="https://www.linkedin.com/in/marcialfudge/"><i class="fa fa-linkedin-square" style="font-size: 50px"></i></a>
                </div>
                <div class="comment-container">
                    <div class="comment row">
                        <div class="comment-image col-md-4">
                            <img src="~/Images/trump.jpg" />
                            <div>Donald J. Trump</div>
                        </div>
                        <div class="comment-text col-md-8">
                            The concept of Lorem Ipsum was created by and for the Chinese in order to make U.S. design jobs non-competitive. All of the words in Lorem Ipsum have flirted with me - consciously or unconsciously. That's to be expected.
                        </div>
                    </div>

                    <div class="comment row">
                        <div class="comment-image col-md-4">
                            <img src="~/Images/trump.jpg" />
                            <div>Donald J. Trump</div>
                        </div>
                        <div class="comment-text col-md-8">
                            The concept of Lorem Ipsum was created by and for the Chinese in order to make U.S. design jobs non-competitive. All of the words in Lorem Ipsum have flirted with me - consciously or unconsciously. That's to be expected.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
            </div>
        </div>


        </div>
    
</div>

