
@{
    ViewBag.Title = "MarciaFudge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css"></style>
<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h1 class="panel-title">Marcia Fudge</h1>
        </div>
        <div class="panel-body">

            <div class="col-md-6 fudge">
                @*<h2>Marcia Fudge</h2>*@
                <blockquote>
                    <img src="~/Images/MF.jpg" />
                    <p> 4834 Richmond Road, Suite 150</p>
                  <p>Warrensville Heights, OH 44128</p>
                    <p>Office: (216) 522-4900</p>
                        
                    
                </blockquote>
            </div>
            <div class="col-md-6 fudgeInfo">
                <h2>Position: United States House of Representatives OH-11</h2>
                <h3>Party: Democratic</h3>
                <div>
                    <a href="https://fudge.house.gov/"><i class="glyphicon glyphicon-globe" style="font-size: 40px"></i></a>
                    <a href="https://www.facebook.com/RepMarciaLFudge/"><i class="fa fa-facebook-square" style="font-size:50px"></i></a>
                    <a href="https://twitter.com/RepMarciaFudge?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter-square" style="font-size:50px"></i></a>
                    <a href="https://www.linkedin.com/in/marcialfudge/"><i class="fa fa-linkedin-square" style="font-size: 50px"></i></a>
                </div>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                    <button type="button" class="btn btn-primary">Submit Comment</button>
                </div>
            </div>
        </div> 


        </div>
    
</div>

